*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
}

.snow_wrap{
    height: 100vh;
    width: 100%;
    background:url(../mchacks/background.webp);
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
}

.snow,.snow:after,.snow:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
    radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 100px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(6px 6px at 400px 350px, #fff, transparent),
    radial-gradient(2px 2px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(5px 5px at 300px 400px, #fff, transparent),
    radial-gradient(3px 3px at 200px 500px, #fff, transparent),
}