<!DOCTYPE html>
<htlm>
    <head>
        <title>Mcgill friends</title>
        
        <link rel="stylesheet" href="login.css">

    </head>
    <body class="hero">
        <div id="wrapper"></div>
        <center>
           
                <h1 class="friend">
                    Find your friends!😈
                </h1>    

                <form >
                    Username: <input type="text" name="username" placeholder="Enter Username" class="input"><br>
                    <br>
                    Password: <input type="password" name="password" placeholder="Enter Password" class="input">
                    
                </form>
                <br>
                
                <a href="sign up.html">
                
                    <button class="button2">
                        sign up
                    </button>
                </a>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="login.html">
                    <button class="button1">
                        login
                    </button>
                </form>
                </a>
                 
            <p>
                <h6 class="intro">
                    ☺️ Login to check your friend's avaibilities ☺️
                </h6>
             </p>
        </center>
    </body>
</htlm>