<html>
    <head>
        <title>Login menu</title>
        <link rel="stylesheet" href="main.css">
        
    </head>

    <body class="login">
        <center>
            <div>
                <img src="letter.jpg" class="idk">

                <h1>
                    Friend list
                </h1>
                
                <a href="schedule.html">
                    <button>
                        Upload schedule
                    </button>
                </a>
            </div>
            
        
        
        
        </center>

    </body>




</html>